@import 'variables';

@mixin button() {
    border-radius: 5px;
    text-align: center;
    padding: 6px 17px;
    cursor: pointer;
}

@mixin input() {
    border: none;
    background-color: $gray-50;
    border-radius: 5px;
    height: 50px;
    box-sizing: border-box;   
}

