@import 'variables';
@import 'mixins';

body {
    font-family: "Space Mono", monospace;
    background-color: $gray-200;
    margin: 0;
    padding: 0;

    @include breakpoint(desktop) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }
}

.container_logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-top: 50px;
    margin-bottom: 40px;

    @include breakpoint(desktop) {
        margin-bottom: 100px;
    }
}

.container {
    background-color: white;
    border-radius: 16px;
    padding: 34px 24px;

    @include breakpoint(tablet) {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        padding: 54px 75px;
    }

    @include breakpoint(desktop) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 32px 40px;
        gap: 48px;

    }

    .cantidad {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px;
        margin-bottom: 32px;

        &_error {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        

        &_label {
            color: $gray-500;
        }

        &_input {
            @include input;
        }

        &_dollar {
            width: 13px;
            position: absolute;
            top: 50px;
            left: 20px;
        }
    }

    .porcentaje {
        margin-bottom: 32px;


        &_title {
            color: $gray-500;
        }


        &_grid {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 16px;

            @include breakpoint(tablet) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(2, 1fr);
            }


            &-item { 
                background-color: $green-900;
                color: white;
                @include button;

                &:hover {
                    background-color: $green-400;
                    color: $green-900;
                }


                &-custom {
                    background-color: $gray-50;
                    color: $gray-550;
                    @include button;
                }
            }
        }
    }

    .personas {
        display: flex;
        flex-direction: column;
        position: relative;
        gap: 8px;
        margin-bottom: 32px;

        &_error {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }


        &_label {
            color: $gray-500;
        }

        &_input {
            @include input;
            
        }

        &_icon {
            width: 15px;
            position: absolute;
            top: 50px;
            left: 20px;
        }
    }

    .resultado {
        padding: 30px 23px;
        background-color: $green-900;
        border-radius: 15px;
        display: flex;
        flex-direction: column;

        &_persona {
            display: flex;
            margin-bottom: 24px;
            justify-content: space-between;
            align-items: center;

            &-text {
                h3 {
                    color: white;
                    margin: 0;
                    
                }

                p {
                    margin: 0;
                    color: $gray-400;
                }
            }

            &-cantidad {
                margin: 0;
                color: $green-400;
            }

        }

        &_total {
            display: flex;
            margin-bottom: 32px;
            justify-content: space-between;
            align-items: center;

            &-text {
                h3 {
                    color: white;
                    margin: 0;
                    
                }

                p {
                    margin: 0;
                    color: $gray-400;
                }
            }

            &-cantidad {
                margin: 0;
                color: $green-400;
            }
        }

        &_button {
            @include button;
            background-color: $green-400;
            color: $green-900;
            text-transform: uppercase;

            &:hover {
                background-color: $green-200;
            }

            @include breakpoint(desktop) {
                margin-top: 100px;
            }
        }
    }
}

.estilos {
    color: $green-900;
    text-align: end;
    outline: none;

    &:focus {
        border: 2px solid $green-400;
    }
}


.input-custom {
    width: 100%;
    height: 100%;
    background-color: $gray-50;
    @include input;
    border-radius: 5px;
    box-sizing: border-box;

    &:focus {
        border: 2px solid $green-400;
    }
}


.border-rojo {
    border: 3px solid $orange-400 !important;

}

.color-text {
    color: $orange-400;
    margin: 0;
}
