// Colores
$gray-600: #3D6666;
$gray-550: #547878;
$gray-500: #5E7A7D;
$gray-400: #7F9D9F;
$gray-300: #9EBBBD;
$gray-200: #C5E4E7;
$gray-50: #F3F9FA;

$green-900: #00474B;
$green-800: #085C61;
$green-750: #0D686D;
$green-400: #26C2AE;
$green-200: #9FE8DF;

$orange-400: #E17052;


// text-presets
.text-preset-1 {
    font-size: 48px;
    line-height: 71px;
    letter-spacing: -1px;
    font-weight: 700;
}

.text-preset-2 {
    font-size: 32px;
    line-height: 47px;
    letter-spacing: -0.67px;
    font-weight: 700;
}

.text-preset-3 {
    font-size: 24px;
    line-height: 36px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-preset-4 {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-preset-5 {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0px;
    font-weight: 700;
}

.text-preset-6 {
    font-size: 13px;
    line-height: 19px;
    letter-spacing: 0px; 
    font-weight: 700;
}


// Tamaños de pantalla
$bp-tablet: 768px;
$bp-desktop: 1440px;

@mixin breakpoint($bp) {
    @if $bp == tablet {
      @media (min-width: $bp-tablet) {
        @content;
      }
    }
  
    @if $bp == desktop {
      @media (min-width: $bp-desktop) {
        @content;
      }
    }
}
